
/*to link css into css */

@import url(../CSS/fonts.css);

html,body{
    margin: 0%;
    box-sizing:border-box;
    overflow-x:hidden;
}

:root{

    /*variable theme colors*/

    --text-grey:#3f4954;
    --text-light:#686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight:#104f55;
    --grey:#f4f1de;



    /*gradient colors*/
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /* using differnt font on th site */
    --Assistant:'Assistant' cursive;
    --Hind_Siliguri:'Hind_Siliguri' cursive;
    --M_PLUS_1P:'M_PLUS_1P' cursive;
}

/*------------global classes----------*/

a{
    text-decoration: none;
}

.flex-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family:var(--Abel);

}

h3{
    font-family: var(--Lexend);
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span{
    font-family: var(--Assistant)
}

.container{
    margin: 0 5vw;
}

.text-gray{
    color:var(--text-grey);
}

p{
    font-family: var(--Lexend);
    color: var(--text-light);
}

/*------x------global classes----x------*/


/*-------------navbar------------------*/
.nav {
    background:white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow:hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}
/*to dipaly 3 marked sign for menu list */
.nav .toggle-collapse{
    position: absolute;
    top:0%;
    width:90%;
    cursor:pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle.icons i{
    font-size: 1.4rem;
    color:var(--text-grey);
}
/** collapsing the menu when clicking  */
.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin:0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size:1.1rem;
    position:relative;
    font-family:var(--Assistant);
    font-size:1.1rem;
}

/*to hover above the links showing midnight color*/

.nav .nav-items .nav-link:hover{
background-color:var(--grey);
}

.nav .nav-items .nav-link:hover a{
    color:var(--midnight);
}
.nav .social{
    padding:1.4rem 0;
}

.nav .social i{
    padding:0 0.2rem;
}

.nav .social i:hover{
    color:#06d6a0;
}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Hind_Siliguri);
    font-size:1.6rem;
}


/*------x------navbar--------x------*/

/*-------main content--------*/

/*--------site title-----------*/


/*setting background image with dispalce text on screen*/
main .site-title{
    background: url('../assets/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}
 
main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

/*giving the titles space*/

main .site-title h1, h3{
    margin:.3rem;
}
 
/*setting explore color and space*/
main .site-title .btn{
    margin:1.8rem;
    background: var(--sky);
}

/* setting the explore button*/
main .site-title .btn:hover{
    background:transparent;
    border:1px solid var(--white);
    color: var(--white);
}

/*------x--site title---x-----*/

/*-------Blog carousel-------------*/

main .blog{
    background: url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

/*styling the blog psot with food name london fashion week etc */
main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}


/*styling the words in the picture post*/

main .blog-content .blog-title{
    padding: 2rem 0;
}

/* styling the fashin button on bolg post*/

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

/* to make the span 2 minutes show beneath the fashion button*/
main .blog-content span{
    display: block;
}

/*  designing the arrow for navigation*/
section .container .owl-nav{
    position:absolute;
    top:0%;
    margin: 0 auto;
    width:100%;
}

/*still designing the arrow*/

.owl-nav .nav-prev,
.owl-nav .nav-next{
    color: var(--text-grey);
    background:transparent;
    font-size: 2rem;
}

/*changing the navigation arrow background and design */
.owl-theme .owl-nav [class*='owl-']:hover{
    background:transparent;
    color:var(--midnight);
}

/*removing the border around the hover navigation arrow */
.owl-theme .owl-nav [class*='owl-']{
    outline:none;
}

/*--x-----Blog carousel------x-------*/



/*--------Site content----------*/

/*creating a seperate grid for post and side bar */
main .site-content{
    display:grid;
    grid-template-columns: 70% 30%;
}

/*---- giving the calendar and user icon space from the img and real post*/

main .post-content{
    width:100%;
    margin-bottom: 5rem;
}

main .site-content .post-content > .post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;
}

/* setting the coment, calendar in the middle position of the image post*/
main .site-content .post-content > .post-image .post-info{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    left: 20vw;
    bottom: 0%;
    border-radius: 3rem;
}

/* making effect on the picture post with girl holding a camera*/


main .site-content .post-content > .post-image > div{
    overflow:hidden;
}

main .site-content .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.3);
}

/* spacing the comment section*/
main .site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
}
/*designing the title text */

main .post-content .post-title a{
    font-family: var(--Anton);
    font-size: 1.5rem;
    color: var(--text-gray);

}

/*designing the read more button under the post content*/
.site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--sky);
}

/*styling the search result pane navigation at the bottom */
.site-content .pagination{
    justify-content:center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.site-content .pagination a{
    padding: .6rem .9rem;
    color: var(--text-grey);
    font-family: var(--M_PLUS_1P);
    border-radius: 2rem;
    margin: 0 .3rem;

}

.site-content .pagination .pages{
    background: var(--midnight);
    color: var(--white);
}


.site-content .sidebar .category h2{
    font-family: var(--Assistant);
    
}
/*----x----Site content-----x-----*/

/*----------------sidebar styling---------------*/

.site-content > .sidebar .category-list{
    font-family: var(--M_PLUS_1P);
}

.site-content > .sidebar .category-list .list-items{
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.site-content > .sidebar .category-list .list-item a{
    color: black;
}

.site-content .sidebar .post-content{
    padding:1rem 0;
}

/* styling the popular post title*/
.site-content .sidebar .popular-post h2{
    padding: 3rem;
    
}

/*designing popular post comments, date on photo*/

.site-content .sidebar .popular-post .post-info{
    padding: .4rem .1rem !important;
    bottom:0rem !important;
    left: 1.5rem !important;
    border-radius:0rem !important;
    background:white !important;
}

.site-content .sidebar .popular-post .post-title a{
    font-size: 1.2rem;
}

/*styling the newsletter*/
.site-content .sidebar .Newsletter{
    padding-top: 0rem;
    margin:-3rem 0 0 0;
    font-family: var(--Hind_Siliguri);
}

/*form element*/
.site-content .sidebar .newsletter .form-element{
    padding: .5rem 2rem;
}

/*form email input*/
.site-content .sidebar .Newsletter .input-element{
    width:80%;
    height:1.9rem;
    padding:.3rem .5rem;
    font-size: 1rem;
    font-family: var(--Assistant);
}

/*form subscribe botton*/
.site-content .sidebar .newsletter .form-btn{
    border-radius: 30px;
    padding: .8rem 23%;
    margin: 1rem 0;
    background: var(--sky);
    
}

/*popular tags*/
.site-content .sidebar .tag{
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}

.site-content .sidebar .tags{
    padding: 1rem 0;
}
/*------x----------sidebar styling-------x--------*/




/*----x---main content----x----*/

/* ---------------footer------------------*/

footer.footer{
    height: 100%;
    background: var(--bg-color);
    position:relative;
}

/*creating a 4 columns for the footer anbout us, newsletter etc*/

footer.footer  .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

/*designing the footer container with spaces and padding */
footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color:white;

}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}


footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border:none;
    background:transparent;
    color: white;
    font-family: var(--josefin);
    font-size: 1rem;
    width: 74%;  
}


footer.footer .newsletter .form-element span{
    padding: .5rem .7rem;
    background-color: skyblue;
    cursor: pointer;
}

footer.footer .instagram img{
    display: inline-block;
    width:25%;
    height:50%;
    margin:.3rem .4rem;
}

footer.footer .follow div i{
    color: white;
    padding: 0 .4rem;
}

footer.footer div.rights.flex-row{
    justify-content: center;
    font-family: var(--Hind_Siliguri);

}

footer.footer div.rights.flex-row h4 a{
    color: white;
}

/*    styling the move up arrow */
footer.footer .move-up{
    position:absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: var(--midnight);
}

footer.footer .move-up span :hover{
    color: white;
    cursor: pointer;
}





/* -------x--------footer---------x---------*/

/* designing the site content so when the viewport is less than 1130 the post info will go left */

/*    x    viewport less than or equal to  1130px    x   */
    @media only screen and (max-width: 1130px){
        .site-content .post-content > .post-image .post-info{
            left: 2rem !important;
            bottom: 1.2rem !important;
            border-radius: 0% !important;
        }

        .site-content .sidebar .popular-post .post-info{
            display: none !important;
    }
/* to make the footer break into two colums when viewport is less */
    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
    }
/*    x    viewport less than or equal to  1130px    x   */





/*       viewport less than or equal to  750px           */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }

/* below to break the colums into one big square when view port is 750*/

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/*    x    viewport less than or equal to  750px    x   */


/*       viewport less than or equal to  520px           */
    @media only screen and (max-width:520px){
        main .blog{
            height:125vh;
        }
        .site-content .post-content > .post-image .post-info{
            display: none !important;
        }

        footer.footer .container > div{
            padding: 1rem .9rem !important;
        }

        footer .rights{
            padding: 0 1.4rem;
            text-align: center;
        }

        nav .toggle-collapse{
            width: 80% !important;
        }
    }



/*    x    viewport less than or equal to  520px    x   */