
/*to link css into css */

@import url(../CSS/fonts.css);

html,body{
    margin: 0%;
    box-sizing:border-box;
    overflow-x:hidden;
}

:root{

    /*variable theme colors*/

    --text-grey:#3f4954;
    --text-light:#686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight:#104f55;
    --grey:#f4f1de;



    /*gradient colors*/
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /* using differnt font on th site */
    --Assistant:'Assistant' cursive;
    --Hind_Siliguri:'Hind_Siliguri' cursive;
    --M_PLUS_1P:'M_PLUS_1P' cursive;
}

/*------------global classes----------*/

a{
    text-decoration: none;
}

.flex-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family:var(--Abel);

}

h3{
    font-family: var(--Lexend);
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span{
    font-family: var(--Assistant)
}

.container{
    margin: 0 5vw;
}

.text-gray{
    color:var(--text-grey);
}

/*------x------global classes----x------*/


/*-------------navbar------------------*/
.nav {
    background:white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow:hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}
/*to dipaly 3 marked sign for menu list */
.nav .toggle-collapse{
    position: absolute;
    top:0%;
    width:90%;
    cursor:pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle.icons i{
    font-size: 1.4rem;
    color:var(--text-grey);
}
/** collapsing the menu when clicking  */
.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin:0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size:1.1rem;
    position:relative;
    font-family:var(--Assistant);
    font-size:1.1rem;
}

/*to hover above the links showing midnight color*/

.nav .nav-items .nav-link:hover{
background-color:var(--grey);
}

.nav .nav-items .nav-link:hover a{
    color:var(--midnight);
}
.nav .social{
    padding:1.4rem 0;
}

.nav .social i{
    padding:0 0.2rem;
}

.nav .social i:hover{
    color:#06d6a0;
}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Hind_Siliguri);
    font-size:1.6rem;
}


/*------x------navbar--------x------*/

/*-------main content--------*/

/*--------site title-----------*/


/*setting background image with dispalce text on screen*/
main .site-title{
    background: url('../assets/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}
 
main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

/*giving the titles space*/

main .site-title h1, h3{
    margin:.3rem;
}
 
/*setting explore color and space*/
main .site-title .btn{
    margin:1.8rem;
    background: var(--sky);
}

/* setting the explore button*/
main .site-title .btn:hover{
    background:transparent;
    border:1px solid var(--white);
    color: var(--white);
}

/*------x--site title---x-----*/

/*-------Blog carousel-------------*/

main .blog{
    background: url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 95%;
    background-size: 65%;
}

main .blog .blog-post{
    padding: 6rem;
}

/*styling the blog psot with food name london fashion week etc */
main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 83%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}


/*styling the words in the picture post*/

main .blog-content .blog-title{
    padding: 2rem 0;
}

/* styling the fashin button on bolg post*/

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

/* to make the span 2 minutes show beneath the fashion button*/
main .blog-content span{
    display: block;
}

/*  designing the arrow for navigation*/
section .container .owl-nav{
    position:absolute;
    top:0%;
    margin: 0 auto;
    width:80%;
    padding:30px 0px 0px 0px;
}

/*still designing the arrow*/

.owl-nav .nav-prev,
.owl-nav .nav-next{
    color: var(--text-grey);
    background:transparent;
    font-size:2rem;
}

/*changing the navigation arrow background and design */
.owl-theme .owl-nav [class*='owl-']:hover{
    background:transparent;
    color:var(--midnight);
}

/*removing the border around the hover navigation arrow */
.owl-theme .owl-nav [class*='owl-']{
    outline:none;
}

/*--x-----Blog carousel------x-------*/



/*--------Site content----------*/

/*creating a seperate grid for post and side bar */
main .site-content{
    display:grid;
    grid-template-columns: 70% 30%;
}

/*---- giving the calendar and user icon space from the img and real post*/

main .post-content{
    width:100%;
    margin-bottom: 5rem;
}

main .site-content .post-content > .post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;
}

/* setting the coment, calendar in the middle position of the image post*/
main .site-content .post-content > .post-image .post-info{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    left: 20vw;
    bottom: 0%;
    border-radius: 3rem;
}

/* making effect on the picture post with girl holding a camera*/


main .site-content .post-content > .post-image > div{
    overflow:hidden;
}

main .site-content .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.3);
}

/*----x----Site content-----x-----*/



/*----x---main content----x----*/

/*       viewport less than or equal to  750px           */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }
}

/*    x    viewport less than or equal to  750px    x   */